.footer {
  background-color: #f0f2f5;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}

.form-message {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.message-input {
  flex-grow: 1;
  margin-right: 5px 8px;
  padding: 9px 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 15px;
}

/* .file-container {
  position: relative;
  width: 40px;
  height: 40px;
} */

.overlap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  line-height: 40px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  /* pointer-events: none; */
}

.overlapped {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: -9999;
}