
.main {
  position: relative;
  flex: 1 1 0;

  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #b4b3ae transparent;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #b4b3ae;
  height: 10px;
}

.btn-icon {
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: 8px;
}
